@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* app/globals.css */

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 100px;
  opacity: 0;
  animation: fadeInOut 2s ease-in-out forwards;
}

.slider {
  width: 10px;
  height: 100px;
  background-color: #a5b4fc;
  border-radius: 5px;
}

.slider-1 {
  animation: slide 2s ease-in-out infinite alternate;
}

.slider-2 {
  animation: slide 1.8s ease-in-out infinite alternate;
  animation-delay: 0.2s;
}

.slider-3 {
  animation: slide 2.2s ease-in-out infinite alternate;
  animation-delay: 0.4s;
}

@keyframes slide {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}